.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 80px 3px;
  background-color: var(--white);
  color: var(--black);
  position: relative;
  z-index: 500;
}



.logo {
  display: flex;
  align-items: center;
  width: 130px;
  height: auto;
  cursor: pointer;
}

.logo img {
  margin-right: 0.5rem;
}


.navbar {
  width: 57rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s;
}


.navbar a {

  color: black;
  
}

.navbar a:hover{
   color: rgba(137, 43, 226, 0.74);
}
.dropdown button:hover{
  color: rgba(137, 43, 226, 0.74) !important;
}
.dropdown-item:hover{
  color: black !important ;
}
.dropdown-item{
  color: rgb(71, 71, 71) !important;
  font-weight: 400;
}

.navbar a::after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.5s;
}

.navbar a:not(:last-child):hover::after {
  width: 100%;
  background: rgba(97, 6, 150, 0.329);
}


.main-btn button {
  background-color: var(--purple);
  padding: 0.5rem 1rem;
  border-radius: 3px;
  color: var(--white);
  height: 40px;
  cursor: pointer;
  transition: all 0.2s;
}

.main-btn button:hover {
  transform: scale(1.1);
}

.main-btn button:focus {
  transform: scale(0.9);
}

.dropdown-menu li a {

}

.mobile-header {
  display: none;
  background-color: var(--white);
}

.mobile-btn {
  background-color: var(--purple);
  display: none;
  padding: 0.5rem 1rem;
  margin-right: 20px;
  border-radius: 5px;
  color: var(--white);
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s;
}

.mobile-btn:hover {
  transform: scale(1.1);
}

.mobile-btn:focus {
  transform: scale(0.9);
}



#mobile-menu-sub li{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 10px 0;

}





.mobile-menu-li{
  margin: 1.5rem;
}

.dropdown-menu{
  box-shadow: 0px 0px 2px 2px #afa8a833;
  border: none;
  padding: 30px;
  border-bottom: 3px solid #803BEC;
  background-color: white;
}

/* drop-down styling css starts here */

.dropdown:hover .dropdown-menu{
  display: block;
}




/* drop-down styling css ends here */

.dropdown-menu.show{
 display: none !important;
}

.service-box{
  width: 1100px;
  height: 450px;
}

.product-box{
  width: 800px;
  height: 270px;
}


@media only Screen and (max-width: 64em) {
  .header {
    padding: 0.5rem 3rem;
  }
}

@media only Screen and (max-width: 48em) {
  .navbar {
    display: none;
  }

  .mobile-header {
    display: inline-block;
  }
  .mobile-btn {
    display: inline-block;
    height: 45px;
    font-size: 0.9rem;
  }

  .mobile-btn:hover {
    transform: none;
  }

  .mobile-btn:focus {
    transform: none;
  }

}

@media only Screen and (max-width: 40em) {
  .header {
    padding: 0.5rem 1.5rem;
  }

  .mobile-header {
    display: inline-block;
  }

  .mobile-btn {
    display: inline-block;
    height: 45px;
    font-size: 0.9rem;
  }

  .mobile-btn:hover {
    transform: none;
  }

  .mobile-btn:focus {
    transform: none;
  }
}

@media screen and (max-width: 475px) and (min-width:300px) {
  .header {
    padding: 16px 14px 10px !important;
  }

  .logo {
    width: 130px !important;
  }

}

@media screen and (max-width: 1000px) and (min-width:770px) {
 .navbar{
   width: 32rem;
 }
}