.infoser{
    border-top: rgba(128, 128, 128, 0.164) solid 2px;
    display: flex;
    margin-top: 40px;
    width: 100vw;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    height: 85vh;
}


.upper-container{
    display: flex;
    /* justify-content: space-between; */
    margin: 0 80px;
    width: 100%;
    margin-top: 70px;
}


.ai-bi-cover-image img{
  height: 400px;
  width: 520px;
  border-radius: 4px;
  box-shadow: 2px 2px 20px 2px #808080e3;
  border: 1px solid white;
}

 .ai-bi-discription{
    margin-left: 100px;
    width: 40vw;

 }

.ai-bi-discription h1{
    border-bottom: 5px solid #80808059;
    width: 260px ;

}