.infoser{
    border-top: rgba(128, 128, 128, 0.164) solid .5px;
    
    margin-top: 40px;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    height: 285vh;
}


.upper-container{
    display: flex;
    width: 100%;
    margin-top: 100px;
    height: 70vh;
   
}


.ai-bi-cover-image img{
  height: 400px;
  width: 520px;
  border-radius: 4px;
  box-shadow: 2px 2px 20px 2px #808080e3;
  border: 1px solid white;
}

 .ai-bi-discription{
    margin-left: 55px;
 
    height: 50vh;
    box-shadow: -5px 0px 20px 28px white;
     width: 100vw;
    display: flex;
    justify-content: space-around;
 }

.ai-bi-discription h1{
    border-bottom: 5px solid #80808059;
    width: 260px ;
   

}

.mid-span {
    width: 60vw;
    height: 20px;
    background-color: rgb(255, 145, 0);
   
}

/* carousel section  */

.carousel-item{
    /* margin-left: 20px; */
    width: 100vw;
    height: 90vh;
    
}

.carousel-one{
    background-image: url("../assets/service-image/ai-carousel-one.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.carousel-two{
    background-image: url("../assets/service-image/bi-carousel-two.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;   
}

.carousel-three{
    background-image: url("../assets/service-image/iot-carousel-three.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;  
}

.ra-iot-banner-container{
    width: 100vw;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ra-iot-banner{
    width: 90vw;
    height: 25vh;
    border: 1px solid #00b5ff;
    /* background-image: linear-gradient(to right ,rgb(0, 183, 255) , white); */
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(183,230,249,1) 60%, rgba(0,181,255,1) 100%);
    display: flex;
   

}

.ra-iot-banner img{
    width: 105px;
    margin: auto 20px;
}

.ra-iot-banner .iot-infodiv{
    margin: auto 20px;
}
.ra-iot-banner .iot-infodiv h4{
    font-size: 30px;
    /* margin: auto 20px; */
}

.ra-iot-banner .iot-infodiv p{
    margin: 0 ;
    color: red;
    font-size: 19px;
    cursor: pointer;
    position: relative;
    top: 10px;
}

.iot-infodiv p:hover{
    color: rgb(255, 174, 0);
}